In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.linear_model import LinearRegression, Ridge, Lasso

In [2]:
df = pd.read_csv("C:/Users/Rakin Shahriar/Desktop/Linear_regression/california_house_price.csv")

In [3]:
df.shape

(20640, 10)

In [4]:
print(df.columns)

Index(['Unnamed: 0', 'MedInc', 'HouseAge', 'AveRooms', 'AveBedrms',
       'Population', 'AveOccup', 'Latitude', 'Longitude', 'Price'],
      dtype='object')

In [5]:
df.Price

0        4.526
1        3.585
2        3.521
3        3.413
4        3.422
         ...
20635    0.781
20636    0.771
20637    0.923
20638    0.847
20639    0.894
Name: Price, Length: 20640, dtype: float64

In [6]:
df.isnull().values.any()

False

In [7]:
X = df.drop(["Unnamed: 0","Price"],axis = 1)

In [8]:
X.shape

(20640, 8)

In [9]:
X.head(5)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [10]:
Y = df.Price

In [11]:
Y.head(5)

0    4.526
1    3.585
2    3.521
3    3.413
4    3.422
Name: Price, dtype: float64

In [12]:
Y.shape

(20640,)

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, random_state=300)

In [14]:
X_train.shape

(16512, 8)

In [15]:
X_test.shape

(4128, 8)

In [16]:
Y_train.shape

(16512,)

In [17]:
Y_test.shape

(4128,)

In [24]:
linear_regression = LinearRegression().fit(X_train,Y_train)

In [28]:
Y_pred = linear_regression.predict(X_test)

In [29]:
MSE = mean_squared_error(Y_test, Y_pred)

In [30]:
MSE

7.538350792332301

In [36]:
MAE = mean_absolute_error(Y_test, Y_pred)

In [37]:
MAE

0.5832318430072806

In [71]:
ridge = Ridge(alpha=0.01)

In [72]:
ridge.fit(X_train, Y_train)

Ridge(alpha=0.01)

In [73]:
Y_pred = ridge.predict(X_test)

In [74]:
MSE = mean_squared_error(Y_test, Y_pred)

In [75]:
MSE

7.538363209731316

In [92]:
lasso = Lasso(alpha=0.1)

In [93]:
lasso.fit(X_train, Y_train)

Lasso(alpha=0.1)

In [94]:
Y_pred = lasso.predict(X_test)

In [95]:
MAE = mean_absolute_error(Y_test, Y_pred)

In [96]:
MAE

0.6101346683905616